STRINGTABLE
{1,"Programming is an Art Form that fights back."
2,"And in the end, it's not the years in your life that count.\nIt's the life in your years."
3,"How far you go in life depends on your being \ntender with the young, \ncompassionate with the aged, \nsympathetic with the striving, \nand tolerant of the weak and the strong \n-- because someday you will have been all of these."
4,"There's only one way to have a happy marriage \nand as soon as I learn what it is I'll get married again."
5,"Talk low, talk slow, and don't say too much "
6,"When I was a kid I said to my father one afternoon,\n 'Daddy, will you take me to the zoo?' \nHe answered, 'If the zoo wants you let them \ncome and get you.'"
7,"It will be generally \nfound that those who sneer \nhabitually at human nature and affect \nto despise it, are among its worst and least pleasant examples."
8,"Oh the nerves, the nerves; \nthe mysteries of this machine called man!\n Oh the little that unhinges it, \npoor creatures that we are!"
9,"In Heaven an angel is nobody in particular."
10,"The secret of being miserable is to \nhave leisure to bother about whether \nyou are happy or not.\nThe cure for it is occupation."
11,"When a stupid man is doing something \nhe is ashamed of, he always \ndeclares that it is his duty."
101,"Chad Z. Hower (Kudzu) - - Team Indy"
102," -- Abraham Lincoln"
103," -- George Washington"
104," -- Clint Eastwood"
105," -- John Wayne"
106," -- Jerry Lewis"
107," -- Charles Dickens"
108," -- Charles Dickens"
109," -- George Bernard Shaw"
110," -- George Bernard Shaw"
111," -- George Bernard Shaw"
}
